body {
    margin: 0;
}

#canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
}

#heading {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0;
}

.data {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex-grow: 1;
}

#buttons-container {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
}

button.data {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333333;
    user-select: none;
    flex-grow: 1;
}

#info.data {
    flex-grow: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
}